/* Página index */
    .links__nav {
        
        font-size: 15px;
        color: rgb(62, 62, 151);
        justify-content: end;
    }
.contraste{background-color:rgb(209, 209, 209);}
.sinpunto li{list-style: none;}
.alinear {justify-content: right;}
.colorcaption{color:black; font-weight: bolder;}
.futer{display: flex;
        flex-direction: row;
        }
.imex{width: 20%;border:2px solid gray;}
.defino{padding: 5px;
        margin:30px;
justify-content:center ;}

        @keyframes efectoss{0%{width: 60px;}
25%{width: 80px;}
50%{width: 100px;}
75%{width: 80px;}
100%{width: 60px;}}

.footer{display: flex;
    justify-self: stretch;}

.futer__logo img { width: 60px; margin-top:4.5rem;transition: all 2s;animation-name: efectoss;animation-timing-function: linear;animation-duration: 10s;animation-iteration-count: infinite; }
.futer__logo img:hover{transform: rotate(360deg);}
